<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/css/instructivos.css" />
  </head>
  <body>
    <%- include('../partials/header.ejs') %>
    <main>
      <h1 class="primero">PERSONAL FLOW</h1>

      <div class="row">
        <div class="card m-3 col-md">
          <div class="card-body">
            <h5 class="card-title"><u>Recupero De Contraseña</u></h5>
            <p class="card-text">
              Te has olvidado tu contraseña? Te marca error al ingresarla? No te
              preocupes, en este instructivo te enseñamos como recuperarla.
            </p>
            <a
              href="https://drive.google.com/file/d/1YjwZapcMGpe_AWE7smepYZtZK2lfLURC/view?usp=drive_link"
              target="_blank"
              class="btn btn-primary"
              >Instructivo</a
            >
          </div>
        </div>
        <div class="card m-3 col-md">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="http://google.com" target="_blank" class="btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="card m-3 col-md">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="http://google.com" target="_blank" class="btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
        <div class="card m-3 col-md">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="http://google.com" target="_blank" class="btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
