<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Soporte Tecnico</h1>

    <form action="" method="POST">
        <div style="border: 1px solid #000;">
            <label for="name">Nombre</label>
            <input type="text" id="name" name="name">
        </div>

        <div>
            <label for="inconveniente">Descripcion del inconveniente</label>
            <textarea name="inconveniente" id="inconveniente"></textarea>
        </div>

        <button type="submit">Enviar</button>

    </form>
</body>
</html>