* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

header {
  display: flex;
  min-height: 75px;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  align-items: center;
  padding: 2rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 90px;
  margin-right: 10px;
}

.nombre-compania {
  color: #000;
  font-size: 30px;
}

nav {
  display: flex;
}

.list {
  display: flex;
  font-family: "Roboto", serif;
  font-weight: 600;
  font-size: 30px;
  padding-right: 40px;
  gap: 1rem;
  list-style: none;
}

nav a:hover {
  color: white;
}

#abrir,
#cerrar {
  display: none;
  visibility: hidden;
  font-size: 1.5rem;
}

.fondo {
  display: flex;
}

hr {
  visibility: hidden;
}

@media (max-width: 769px) {
  .nombre-compania {
    font-size: 20px;
  }

  hr {
    visibility: visible;
  }

  .logo img {
    height: 50px;
  }

  .list {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    font-family: sans-serif;
    font-weight: 600;
    font-size: larger;
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: end;
    /* padding: 1.2rem; */
    gap: 1.2rem;
    bottom: 0;
    background-color: #72269b;
    width: 12.5rem;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  }

  .list.visible {
    visibility: visible;
    opacity: 1;
  }



  header {
    height: 50px;
  }

  #abrir {
    display: block;
    visibility: visible;
    background: none;
    border: none;
  }

  #cerrar {
    display: block;
    visibility: visible;
    font-size: 40px;
    padding: 10px;
  }

  .fondo {
    flex-direction: column;
    align-items: end;
    width: 10rem;
    gap: 1rem;
  }
}
