<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Enviado!</title>
</head>
<body>
    <%- include('./partials/header.ejs') %>
    
    <h1>Fomulario enviado. Gracias!!</h1>
</body>
</html>