<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/enviado.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="card">
        <img src="/img/logo-horizontal.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Ticket enviado correctamente!</h5>
          <p class="card-text">Les recordamos que pueden visitar los Instructivos :) Aguarde a ser atendido. <b>Gracias por la paciencia!</b></p>
          <a href="#" class="btn btn-primary disabled">Instructivos (proximamente)</a>
        </div>
      </div>
  </body>
</html>
