<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Soporte Tecnico</h1>

    <form action="" method="POST">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" id="nombre" name="nombre">
        </div>

        <div>
            <label for="usuario">Usuario</label>
            <input type="text" id="usuario" name="usuario">
        </div>

        <div>
            <label for="inconveniente">Descripcion del inconveniente</label>
            <input type="text" id="inconveniente" name="inconveniente"></input>
        </div>

        <button type="submit">Enviar</button>

    </form>
</body>
</html>