<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head.ejs') %>
    <link rel="stylesheet" href="/css/instructivos.css" />
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <main>
      <h1 class="primero">INSTRUCTIVOS</h1>

      <div class="row">
        <a
          class="btn btn-primary btn-lg m-3 col-md"
          href="/instructivos/personal"
          role="button"
          >PERSONAL FLOW</a
        >

        <a
          class="btn btn-primary btn-lg m-3 col-md disabled"
          href="/instructivos/telecentro"
          role="button"
          >TELECENTRO (PROXIMAMENTE)</a
        >
      </div>

      <div class="row">
        <a
          class="btn btn-primary btn-lg m-3 col-md disabled"
          href="/instructivos/ventas"
          role="button"
          >CLARIN VENTAS (PROXIMAMENTE)</a
        >

        <a
          class="btn btn-primary btn-lg m-3 col-md disabled"
          href="/instructivos/reten"
          role="button"
          >CLARIN RETENCIÓN (PROXIMAMENTE)</a
        >
      </div>

      <div class="row">
        <a
          class="btn btn-primary btn-lg m-3 col-md disabled"
          href="/instructivos/zurich"
          role="button"
          >ZURICH (PROXIMAMENTE)</a
        >

        <a
          class="btn btn-primary btn-lg m-3 col-md disabled"
          href="/instructivos/pfizer"
          role="button"
          >PFIZER (PROXIMAMENTE)</a
        >
      </div>

      <!-- <h1>TELECENTRO (PROXIMAMENTE)</h1>
      <div class="row">
        <div class="container m-3 col-md">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="http://google.com" target="_blank" class="btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
        <div class="card m-3 col-md">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">
              With supporting text below as a natural lead-in to additional
              content.
            </p>
            <a href="http://google.com" target="_blank" class="btn btn-primary"
              >Go somewhere</a
            >
          </div>
        </div>
      </div> -->
    </main>
  </body>
</html>
