<header>
  <a href="/" class="logo">
    <img src="/img/logo-negativo.png" alt="logo-negativo" />
    <h2 class="nombre-compania">Soporte Técnico</h2>
  </a>
  <nav>
    <button class="abrir-menu">Abrir</button>
    <a href="" class="nav-link">Asistencia</a>
    <a href="" class="nav-link">Staff</a>
    <a href="" class="nav-link">Instructivos</a>
  </nav>
</header>
