<header>
  <a href="/" class="logo">
    <img src="/img/logo-negativo.png" alt="logo-negativo" />
    <h2 class="nombre-compania">Soporte Técnico</h2>
  </a>

  <input type="checkbox" id="abrir" />
  <div class="container-menu">
    <div class="cont-menu">
      <nav>
        <a href="#">Asistencia</a>
        <a href="#">Staff</a>
        <a href="#">Instructivos</a>
      </nav>
      <label for="abrir" class="bi bi-x cerrar"></label>
    </div>
  </div>

  <nav class="nav-pc">
    <label for="abrir" class="bi bi-list abrir"></label>
    <div class="list" id="list">
      <a href="" class="nav-link">Asistencia</a>
      <a href="" class="nav-link">Staff</a>
      <a href="" class="nav-link">Instructivos</a>
    </div>
  </nav>

  <!-- menu hamburguesa -->
</header>

<script src="/js/header.js"></script>
